:root {
    --colorAnimationDefault: var(--colorAnimationLoad);
    --colorAnimationLoad: linear-gradient(271deg, #ffffff, #ffffff, #ffffff);
    --colorAnimation1: linear-gradient(271deg, #67e487, #87f5d9, #71ec9a);
    --colorAnimation2: linear-gradient(271deg, #e46767, #f58787, #ec7171);
    --colorAnimation3: linear-gradient(271deg, #6769e4, #8789f5, #7183ec);
    --colorAnimation4: linear-gradient(271deg, #d7e467, #e1f587, #e4ec71);
    --colorAnimation5: linear-gradient(271deg, #bc67e4, #cd87f5, #b571ec);
    --colorAnimation6: linear-gradient(271deg, #e467de, #db87f5, #cf71ec);
    --colorAnimation7: linear-gradient(271deg, #67bce4, #87dbf5, #71cfec);
    --colorAnimation8: linear-gradient(271deg, #ffb923, #ffb515, #e2a728);
    --colorAnimation9: linear-gradient(271deg, #acacac, #bbbbbb, #999999);
    
    --colorSolidDefault: var(--colorSolidLoad);
    --colorSolidLoad: #ffffff;
    --colorSolid1: #4CAD75;
    --colorSolid2: #e46767;
    --colorSolid3: #6769e4;
    --colorSolid4: #d7e467;
    --colorSolid5: #bc67e4;
    --colorSolid6: #e467de;
    --colorSolid7: #67bce4;
    --colorSolid8: #ffb923;
    --colorSolid9: #acacac;
}

hr {
    border-bottom: 0;
}

* {
    font-family: 'Nunito', 'sans-serif';
    font-weight: 600;
}
.date-id-container-label{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    
}
.date-id-container-select{
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#dateIdContainer, #buttonShowFilter {
    cursor: pointer;
    transition: all ease 0.3s;
    background-color: white; 
    height: 50px; 
    width: 280px; 
    padding-left: 10px; 
    margin: 15px;     
    font-weight: 600;
    border: 3px solid var(--colorSolidDefault);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

option {
    font-weight: 600;

}

#buttonShowFilter {
    width: 260px
}

#buttonShowFilter:hover, #dateIdContainer:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px 1px var(--colorSolidDefault);
}

#dateSelect {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--colorSolidDefault);
}

.button-output {
    background-color: #4c66af;
    color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

.button-output:hover {
    background-color: #3a4d81;
    transform: scale(1.05);
}

#dateSelect:focus {
    outline: none;
}

#filter-container {
    z-index: -1;
    width: 17%; 
    height: 47%; 
    top: 0; 
    border-radius: 15px; 
    border: 3px solid var(--colorSolidDefault);
    background-color: white; 
    padding-top: 10px; 
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5000px 2000px rgba(0, 0, 0, 0.75);
    opacity: 0;
}

.custom-alert {
    display: none;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid gray;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in;
}

#colorwhite {
    color: black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.custom-alert-message {
    margin-bottom: 10px;
}

.custom-alert-button {
    background-color: var(--colorSolidDefault);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.custom-alert-button:hover {
    transform: scale(1.2);
}

.map-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.legend-settings-box-info {
    margin: 0 10px 0 5px;
}

.legend-settings-box-index {
    float: right;
    margin: 0 5px 0 10px;
}

.legend-settings-bad {
    background-color: tomato;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-danger {
    background-color: #FFA500;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-higher {
    background-color: #FFD700;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-normal {
    background-color: #FFFF00;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-good {
    background-color: #ADFF2F;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-ideal {
    background-color: #02a302;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-unknown {
    background-color: #808080;
    background-size: cover;
    display: block;
    font-size: 14px
}

.legend-settings-freezing {
    background-color: #2240ba;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-coldest {
    background-color: #627be3;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-colder {
    background-color: #7c92eb;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-cold {
    background-color: #a1b0f0;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-underzero {
    background-color: #b7c1e8;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-upperzero {
    background-color: #aeeba9;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-cool {
    background-color: #52f046;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-warm {
    background-color: #d9f046;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-hot {
    background-color: #f0a946;
    background-size: cover;
    display: block;
    font-size: 14px
}
.legend-settings-boiling {
    background-color: #f05746;
    background-size: cover;
    display: block;
    font-size: 14px
}

#legend {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    color: white;
    font-size: 16px;
    z-index: 1000;
    color: black;
}

.leaflet-popup-content {
    font-size: 14px;    
    width: 350px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    color: black;
    background: var(--colorAnimationDefault) !important;
    background-size: 600% 600% !important;
    -webkit-animation: AnimationName 3s ease infinite !important;
    -moz-animation: AnimationName 3s ease infinite !important;
    -o-animation: AnimationName 3s ease infinite !important;
    animation: AnimationName 3s ease infinite !important;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.map .navbar {
    width: 95%;
}
.doc .navbar {
    width: 1306px;
}
.index .navbar {
    width: 1306px;
}
.navbar {
    margin: 5px auto;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    transition: background-color 0.3s;
    border: 3px solid var(--colorSolidDefault);
    transition: all ease 0.3s;
}
.navbar:hover{
    box-shadow: 0 0 50px 1px var(--colorSolidDefault);
    animation: gradient 3s infinite linear;
    background-size: 400%;
}
.navbar a {
    cursor: pointer;
    float: left;
    font-size: 26px;
    color: black;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar select {
    padding: 14px 20px;
    text-align-last: center;
    text-align: center;
}

.navbar select:focus {
    border: none;
}

.navbar select option {
    padding: 0px;
    text-align: center;
}

.select-theme {
    margin-left: 30px;
    cursor: pointer;
    float: left;
    font-size: 26px;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
}

.navbar select option {
    margin: 100px
}

.navbar a:hover, .navbar select:hover {
    background: var(--colorAnimationDefault);
    animation: gradient 3s infinite linear;
    background-size: 400%;
    display: inline-block;
    transition: transform 0.3s;
    transform: scale(1.1);
}

body, html {
    height: 100%;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(271deg, #000000, #ffffff);
    animation: gradient 10s infinite linear;
    background-size: 400%;
    filter: blur(50);
    padding: 0;
    margin: 0;
}

.custom-icon {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.radio-input input {
    display: none;
}

.radio-input label:hover {
    transform: scale(1.2);
}

.radio-input:hover {
    box-shadow: 0 0 50px 1px var(--colorSolidDefault);
}

.radio-input {
    --container_width: 1200px;
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    scroll-behavior: unset;
    border: 3px solid var(--colorSolidDefault);
    border-radius: 15px;
    transition: all ease 0.3s;
}

.radio-input label {
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) ; 
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    font-size: 20px;
}

.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 7);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s ease;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.radio-input label:has(input:checked) ~ .selection {
    background: var(--colorAnimationDefault);
    animation: gradient 3s infinite linear;
    background-size: 400%;
    display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0/7));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1/7));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2/7));
}

.radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3/7));
}

.radio-input label:nth-child(5):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 4/7));
}

.radio-input label:nth-child(6):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 5/7));
}

.radio-input label:nth-child(7):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 6/7));
}

#map {
    width: 1820px;
    height: 78%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

a {
    color: #00f;
}

.wrapper {
    padding: 50px 250px;
    margin: 25px auto;
    max-width: 800px;
    background-color: #f0f0f0;
    box-sizing: content-box;
    overflow: auto;
    word-wrap: break-word;
    border-radius: 25px;
    border: 3px solid var(--colorSolidDefault)
}

.wrapper p {
    margin-left: -100px; 
    margin-right: -100px;
    text-align: justify;
}

.wrapper h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-container embed {
    max-width: 100%;
    max-height: 100%;
}

.images-index {
    margin-left: -50px;
    width: 900px
}

.images-index2 {
    margin: 0 auto;
    display: flex;
    width: 400px
}
.images-index3{
    margin: 0 auto;
    display: flex;
    width: 250px
}

#moreValue, #lessValue {
    transition: all ease 0.3s;
    border: 1px solid var(--colorSolidDefault);
}
#moreValue:hover, #lessValue:hover   {
    box-shadow: 0 0 50px 1px var(--colorSolidDefault);
    transform: translate(-26%, 0%) scale(1.6);
    border: 1px solid var(--colorSolidDefault);
    border-radius: 5px; 
    padding-left: 4px;
}
#moreValue:focus, #lessValue:focus {
    outline: none
}
.asffasd:hover {
    background-color: var(--colorSolidDefault);
    box-shadow: 0 0 40px 1px var(--colorSolidDefault);
    transform: scale(1.1);
}
.asffasd {
    border-radius: 10px; 
    border: 3px solid var(--colorSolidDefault);
    transition: all ease 0.3s;
    margin-top: 30px; 
    width: 330px; 
    height: 40px; 
    font-size: 16px;
    margin-left: -2px;
}

.button-close:hover {
    transform: scale(1.5) rotate(180deg) translateY(-3px);
    
}
.button-close {
    font-size: 24px;
    cursor: default;
    transition: all ease 0.5s;
    position: absolute; 
    right: 8px; 
    top: -3px; 
}

#dateSelect option {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#dateSelect:hover option {
    opacity: 1;
}
  
.button-graph:hover {
    box-shadow: 0 0 40px 1px black;
    transform: scale(1.15);
    background-color: var(--colorSolidDefault);
}
.button-graph {
    transition: all ease 0.3s;
    border-radius: 5px; 
    border: 2px solid var(--colorSolidDefault);
    margin: 10px 0px 0px 5%;
    height: 30px; 
    width: 90%
}

.leaflet-popup-close-button:hover {
    transform: scale(1.5) rotate(180deg) translateX(3px) translateY(-5px) ;
    color: gray !important;
}

.leaflet-popup-close-button {
    margin: 2px;
    transition: all ease 0.3s;
}

viewer-toolbar {
    display: none !important;
}

.unic {
    font-size: 40px;
    margin: 0;
}